/__pycache__
/build
/dist
/.venv
/.uv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.*.local
*.egg-info/
uv.lock